.timer {
	display: grid;
	place-items: center;
	gap: 10px;
	flex: 0;
}

.timer * {
	grid-column: 1/1;
}

.timer__label {
	font-size: 1.6rem;
	font-weight: 400;
	pointer-events: none;
	position: absolute;
	right: 10px;
}
