.fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-block: var(--gap);
}

.fieldset__title {
	background: var(--jw-color);
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}
