.heading-container {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.heading {
	transition: var(--ms) translate, var(--ms) font-size;
	font-size: 1.4rem;
	pointer-events: none;
	padding-left: 1rem;
	font-weight: normal;
	flex: 1;
	color: rgba(255, 255, 255, 0.5);
}

.heading--advice {
	font-size: 1.5rem;
	font-weight: 400;
	position: relative;
	flex: none;
}

.heading__chat {
	display: inline-block;
	position: relative;
}

@keyframes chat {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}

	50% {
		content: "..";
	}

	75% {
		content: "...";
	}

	100% {
		content: "";
	}
}

.heading__chat::after {
	content: "";
	animation: chat 2s infinite;
	display: block;
	top: -38px;
	right: -36px;
	font-size: 32px;
	width: 24px;
	position: absolute;
	color: var(--jw-color);
}

.heading__chat--paused::after {
	animation-play-state: paused;
}
