.heading-container {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.heading {
	transition: var(--ms) translate, var(--ms) font-size;
	font-size: 1.2rem;
	pointer-events: none;
	opacity: 0.5;
	padding-left: 1rem;
	font-weight: normal;
	flex: 1;
}

.heading-row {
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
}
